/* styles.css */
.box h1,
h2,
h3,
h4,
h5,
h6,
code,
pre,
ol ul,
img,
a,
blockquote {
    margin-bottom: .5em;
    line-height: 100%;
}

.box h1 {
    font-size: 2em;
    /* margin-bottom: 0.5em; */
}

.box h2 {
    font-size: 1.5em;
    /* margin-bottom: 0.5em; */
}

.box h3 {
    font-size: 1.17em;
    /* margin-bottom: 0.5em; */
}

.box p {
    margin-bottom: 1em;
    /* Ajusta el margen inferior según tus necesidades */
    /* Otros estilos para párrafos */
}

.box a {
    position: relative;
    /* margin-left: 1.5em; */
    color: #716acc  ;
    /* Color azul similar al enlace predeterminado */
    text-decoration: underline;
    /* Subrayado similar al enlace predeterminado */
    font-size: .9em;
    font-style: italic;
    letter-spacing: .1em;
}

/* .box a::after{
    position: absolute;
    content: url("https://img.icons8.com/material-outlined/14/9189ff/external-link.png");
    width: 100%;
    height: 100%;
    top: .3em;
    top: 0;
    left: -1.3em;
} */

.box a:hover {
    text-decoration: none;
    /* Elimina el subrayado al pasar el mouse */
}

.box hr{
    margin-bottom: .7em;
}

.box ul,
.box ol {
    margin-bottom: 1em;
    padding-left: 2em;
}

.box li {
    margin-bottom: 0.5em;
}

.box li::before {
    content: '\2022';
    /* Utiliza el carácter de viñeta (•) como marcador de lista */
    color: #ff5733;
    /* Cambia el color según tus preferencias */
    display: inline-block;
    width: 1em;
    /* Ajusta el ancho según tus necesidades */
    margin-left: -1em;
}

.box blockquote {
    border-left: .1em solid var(--app-orange);
    /* Línea vertical a la izquierda similar a la cita predeterminada */
    margin: 0 0 1em 0;
    padding: 0 1em;
    color: #6a737d;
}

.box code {
    background-color: #22232b00;
    padding: 0.2em 0.4em;
    font-family: 'Menlo', 'Monaco', monospace;
    font-size: 85%;
    color: var(--app-orange);
}

.box pre {
    width: 100%;
    padding: 1em 0em;
    overflow: auto;
    font-family: 'Menlo', 'Monaco', monospace;
    background-color: #242529 !important;
    box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.1);
    border-radius: .2em;
    margin-bottom: 2em;
}

.box pre code{
    @apply text-zinc-400;
}

.box pre > div{
    /* border: none !important; */
    background-color: transparent !important;
}

/* pre code.language-Java{
    color: #cc7832;
    
} */

.box img {
    max-width: 100%;
    margin: 1em 0em;
    border-radius: .3em;
    opacity: .5;
    box-shadow: 0em 0em 1em rgba(0, 0, 0, 0.1);
    transition: all .3s ease-in-out;
    /* Asegura que las imágenes no se extiendan más allá de su contenedor */
}

.box img:hover{
    opacity: 1;
}

.box img:active{
    position: absolute;
    opacity: 1;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    width: 50em;
    z-index: 10;
}

.box del{
    color: #6a737d;
}

.box table {
    width: 80%;
    border-collapse: collapse;
    margin: 1.5em 0em;
}

.box table th,
.box table td {
    padding: .8em;
    text-align: left;
    letter-spacing: .1em;
    font-size: .7em;
    border-bottom: 1px solid #4a4e57;
}

.box table th {
    /* background-color: #3337426f; */
    color: var(--app-orange);
}
.box table td{
    font-style: italic;
}

.box table tbody tr:hover {
    background-color: #3b3e47;
}

.box--viewer{
    cursor: url('https://img.icons8.com/external-others-inmotus-design/10/fe713e/external-Cursor-glyph-others-inmotus-design.png'), pointer;
}

.box .contains-task-list::before{
    /* content: '\2022'; */
    display: flex;
    justify-content: center;
    content:"todos"  url('https://img.icons8.com/sf-black-filled/20/4D4D4D/checked-checkbox.png');
    color: #525252;
    font-weight: bold;
    font-size: .6em;
    /* display: inline-block; */
    width: 1em;
    margin-left: -2em;
}

.box .task-list-item::before{
    content: "";
}

.box .task-list-item{
    display: flex;
    align-items: center;
}

.box .task-list-item input[type="checkbox"]{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    display: block;
    appearance: none; /* Oculta los estilos predeterminados del navegador */
      -webkit-appearance: none; /* Para navegadores basados en WebKit como Chrome y Safari */
      -moz-appearance: none; /* Para navegadores basados en Gecko como Firefox */

      width: .7em; /* Ancho del checkbox */
      height: .7em; /* Altura del checkbox */
      border: .2em solid rgb(80, 80, 80); /* Borde verde */
      border-radius: 100%; /* Borde circular */
      outline: none; 
      margin-right: 1em;
}
.box .task-list-item input[type="checkbox"]:checked{
    background-color: rgb(254, 179, 108);
    border-color: rgb(80, 80, 80);;
}
